{{define "pagination.html"}}
{{if gt .Result.TotalPages 1}}
<div class="pagination">
    {{$current := .Result.Page}}
    {{$pages := .Result.TotalPages}}
    {{if gt $current 1}}
    <a href="?page={{sub $current 1}}{{if .Category}}&category={{.Category}}{{end}}{{if .Query}}&q={{.Query}}{{end}}" class="page-link"><i data-lucide="chevron-left" style="width:14px;height:14px"></i></a>
    {{end}}
    {{range $i := seq 1 $pages}}
    <a href="?page={{$i}}{{if $.Category}}&category={{$.Category}}{{end}}{{if $.Query}}&q={{$.Query}}{{end}}" class="page-link {{if eq $i $current}}active{{end}}">{{$i}}</a>
    {{end}}
    {{if lt $current $pages}}
    <a href="?page={{add $current 1}}{{if .Category}}&category={{.Category}}{{end}}{{if .Query}}&q={{.Query}}{{end}}" class="page-link"><i data-lucide="chevron-right" style="width:14px;height:14px"></i></a>
    {{end}}
</div>
{{end}}
{{end}}